/* NOVEDADES */

#novedades{

    background-color: $bg-white-2;
    border-bottom: $border-section;

    .card{

        @include transparente;

        .card-header{

            @include transparente;
        }
    }

    img{

        transition: transform .3s;
        border-radius: 20px;

        &:hover{

            transform: scale(1.03);

        }

    }
}

