/* PAGE COMIC VIEW */

#comics_list {


    background: $bg-white-2;
    padding: 0px;

    .container {


        background: $bg-white-1;
        border-left: $border-section;
        border-right: $border-section;
        padding: 15px 15px 0 15px;

        .titulo{
            
            margin-bottom: 0px;
        }

        .comic_item {


            padding: 10px 0;

            border-bottom: $border-section;

            &:hover {

                background-color: $bg-white-2;

            }

            .card {

                @include transparente;

                .card-header {

                    @include transparente;
                }

                img {

                    transition: transform .3s;
                    border-radius: 20px;

                    &:hover {

                        transform: scale(1.03);

                    }

                }
            }

        }


    }


}