@import '../utilities/mixins';
@import '../utilities/variables';

/* General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

section{

    padding: 15px 0;
}

.titulo{

    color: $text-light;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: $bg-dark;
}

.center{

    display: flex;
    justify-content: center;
    align-items: center;
}

