@import '../utilities/mixins';
@import '../utilities/variables';

/* RESEÑAS RECOMENDADAS*/

#reseñas_recomendadas{

    background-color: $bg-white-1;
    border-bottom: $border-section;

    img{
        border-radius: 20px;
    }

/*     p{

        text-align: center;
        min-height: 80%;
        max-width: 80%;

    } */

    .reseñas__video{

        @media (max-width: 770px) { 

            display: flex;
            flex-direction: column-reverse;
    
        }    

    }

   
}




   
    


